<suite name="Project name">

   <!-- <groups>
        <run>
            <include name="email"/>
        </run>
    </groups>-->

    <parameter name="myUrl" value="http://gmail.com"/>
    <parameter name="username" value="user-2"/>
    <parameter name="password" value="pass-2"/>

    <test name="module 1">
        <classes>
            <class name="TestNGDemo.Demo.ClassOne"/>
            <class name="TestNGDemo.Demo.ClassTwo"/>
            <class name="TestNGDemo.Demo.BeoreAfterClass"/>
        </classes>

    </test>

    <test name="module 2">
        <classes>
            <class name="TestNGDemo.Demo.ClassThree"/>
        </classes>
    </test>

</suite>